*.txt
*scratch.*
vocabulary_data/**/*.csv
vocabulary_data/**/*.txt
vocabulary_data/**/test*.sql
vocabulary_data/**/_test*.sql
vocabulary_data/**/*.html
vocabulary_data/**/download/
backup/
build/
.gradle/
.idea/**
_/




